<%= form_for @fiddle, :html => { :style => 'width: 100%; height: 80%;'} do |f| %>
        <!--<textarea style="width: 95%; height: 85%;">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;kml xmlns="http://www.opengis.net/kml/2.2"&gt;
&lt;/kml&gt;</textarea>-->
    <%= f.hidden_field :id %>
    <%= f.text_area :content, {:style => 'width: 95%; height: 93%;', :rows => nil, :cols => nil} %>
        
        <div style="width: 100%; margin-left: auto; margin-right: auto; ">
            <button id="update_map_button" type="submit" class="btn btn-success"><i class="icon-refresh"></i> Update Map</button>
            <a href="#" class="btn">Validate KML</a>
            <a href="#" class="btn">Lat / Long</a>
        </div>

       

<% end %>