<div id="container" style="width: 100%; height: 100%;">
    <div id="map-canvas" style="float: left; width: 69%; border-right: 1px solid black;">

    </div>
    <div id="text-canvas" style="float: right; width: 30%; height: 100%; padding-top: 10px;">
        <%= render 'form' %>     

        <div id="lat-long-container">
        	<h1>Lat/Long</h1>
        </div>

    </div>

</div>
