<div class="container">
<h1>About KML Fiddle</h1>

<p>KML Fiddle is a project by Austin Keeley.  You can follow him on Twitter <a href="http://www.twitter.com/austin_keeley">@austin_keeley</a> or
you can read his blog at <a href="http://www.espressoninja.com">EspressoNinja.com</a>. He also has a full <a href="http://www.coderbits.com/austinkeeley">coding profile available</a> at CoderBits.  He currently lives outside of Washington D.C. (which is why that's the default location when the site loads).</p>
<p>For documentation and tutorials on KML, visit <a href="https://developers.google.com/kml/">Google's developers guide</a>.</p>

<p>This project uses Ruby on Rails, Bootstrap and PostgreSQL</p>
</div>
